:root {
  font-size: 62.5%;
  --super-white: #fefffd;
  --white: #eaedf4;
  --white2: #edeef3;
  --green: #09bc56;
  --dark-green: #1f523f;
  --grey: #828387;
  --black: #14141e;
  --dark-blue: #1b2235;
  --container: rgb(28, 29, 37);
  --body: rgb(22, 23, 30);
  --dark-violet: rgb(24, 20, 30);
}


body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/* 16px - 100%  */
/* 10px - 62.5% */
/* 1rem = 16px  */
/* 1rem = 10px  */

body {
  box-sizing: border-box;
  background-color: rgb(22, 23, 30);
  color: rgba(255, 255, 255, 0.812);
  font-family: 'Comic Neue', sans-serif;
  /* font-family: 'Open Sans', sans-serif; */
  position: relative;
  cursor: default;
  font-size: 2.4rem;
}
#home-link {
  cursor: default;
  opacity: 1;
}

.home-page {
  width: 170rem;
  /* height: 100vh; */
  margin: 0 auto;
  background-color: rgb(28, 29, 37);
  padding-bottom: 10rem;
}
.header {
  max-width: 170rem;
  border-bottom: 0.1rem solid rgba(255, 255, 255, 0.2);
  font-family: 'Comic Neue', sans-serif;
}

.container {
  max-width: 150rem;
  margin: 0 auto;
}
.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.logo p {
  font-weight: bold;
  font-size: 3.5rem;
  padding: 0rem 1.5rem 1rem 1.5rem;
  border-bottom: 0.5px dotted rgb(255, 0, 0);
  border-right: 0.3px dotted rgb(60, 0, 255);
  border-bottom-right-radius: 50%;
}
.header__menu {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.header__menu > ul > li {
  display: inline-block;
}
.header__menu li + li {
  margin-left: 5rem;
  padding: 5rem 0rem;
}
.header__menu a {
  color: white;
  opacity: 0.7;
  font-size: 2.5rem;
  font-weight: 700;
}
 .header__menu a:not(#home-link):hover, 
.header__menu a:not(#alter-ego):hover  {
  opacity: 1;
}
#alter-ego {
  color: #ef3636;
  opacity: 0.9;
}
#alter-ego:hover {
  text-shadow: 1px 1px 15px #ef3636;
}
#mail-me {
  filter: invert(1);
  height: 3.6rem;
  margin-bottom: -1rem;
}

/********************LEFT and RIGHT FIELDS**********/
.main-field {
  position: relative;
}

.left-field {
  position: fixed;
  bottom: 0px;
  display: block;
  content: '';
  width: 1px;
  background-color: #00ffff;
  height: 10rem;
  margin-left: -4rem;
}

.content__wrap {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.left-col {
  display: flex;
  flex-direction: column;  
  max-width: 65rem; 
  padding-top: 20rem;
  width: 100%;
  position: relative;
}

.left-col__inner h1 {
  font-size: 8rem;
  color: white;
  margin-bottom: 2.5rem;
  font-weight: 700;
  margin-left: 1rem;
}

.left-col__inner h2 {
  color: rgb(72, 101, 206);
  font-weight: 700;
  margin-left: 1.2rem;
  margin-bottom: 2.5rem;
  font-size: 4rem;
}

.left-col__inner p {
  margin-left: 1.2rem;
  margin-bottom: 2.5rem;
  font-size: 2.5rem;
  /* font-family: 'Open Sans', sans-serif; */
}

.left-col__buttons {
  margin-top: 1.5rem;
  display: flex;
}

.hire_me_btn {
  background-image: linear-gradient(to bottom right, #e03d37, #e15b44);
  border: none;
  padding: 0.5rem 1.5rem;
  margin-left: 1.2rem;
  border-radius: 0.5rem;
    /* box-shadow: 1px 1px 15px #ef3636; */
  cursor: pointer;
  display: flex;
  align-items: center;
  margin-right: 3rem;
  font-size: 1.4rem;
  font-weight: bold;
  color: white;
  opacity: 0.9;
}
.hire_me_btn:hover {
  opacity: 1;
  box-shadow: 1px 1px 15px #ef3636;
}

.downloadCV_btn {
  border: 3px solid #e03d37;
  padding: 5px 15px;
  border-radius: 5px;
  /* box-shadow: 1px 1px 15px #ef3636; */
  cursor: pointer;
  display: flex;
  align-items: center;
  background-color: transparent;
  color: white;
}

.downloadCV_btn a {
  text-decoration: none;
  color: white;
  font-size: 1.4rem;
  font-weight: bold;
}

.download_icon img {
  height: 2.8rem;
  margin-left: 1rem;
  margin-top: 0.5rem;
  filter: invert(1);
}

/********************************RIGHT COL************/
.right-col {
  display: flex;
  width: 100%;
}

 .right-col img { 
  width: 50rem;
  height: 65rem;
  margin-left: 18rem;
  margin-top: 10rem;
} 


/*****************RIGHT FIELD --- icons*******/
.right-field {
  display: flex;
  position: fixed;
  bottom: 0px;
  flex-direction: column;
  width: 30px;
  align-items: center;
  margin-left: 162rem;
}

.vertical-line {
  display: block;
  content: '';
  width: 1px;
  background-color: white;
  height: 270px;
  margin-bottom: 10px;
}

.icons {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#github {
  width: 60px;
  filter: invert(1);
  opacity: 0.7;
}

#linkedin {
  width: 35px;
  filter: invert(1);
  opacity: 0.7;
}

#codewars {
  width: 50px;
  margin-top: 5px;
  opacity: 0.7;
}

#github:hover, #linkedin:hover, #codewars:hover {
  opacity: 1;
  text-shadow: 1px 1px 15px white;
}

.bottom-arrow {
  position: absolute;
  bottom: -10rem;
  right: -5rem;
  opacity: 0.7;
}
.bottom-arrow:hover {
  cursor: pointer;
  opacity: 1;
}
/************************************ABOUT ME*******************/
.about-page {
  max-width: 170rem;
  margin: 5rem auto;
  background-color: rgb(28, 29, 37);
  padding-top: 10rem;
  padding-bottom: 10rem;
}
h3 {
  font-size: 5rem;
  font-weight: 700;
  margin-bottom: 5rem;
  text-align: center;
  color: #fefffd;
}
.skills__box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10rem;
  color: rgba(255, 255, 255, 0.812);
  padding-bottom: 5rem;
}

.study-work-table {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 75rem;
  height: 38rem;
  width: 100%;
  background-color: rgb(22, 23, 30);
  /* background-color: rgba(128, 128, 128, 0.1); */
  /* border: 2px solid rgb(72, 101, 206, 0.3); */
  border-bottom: 7px solid rgb(72, 101, 206, 0.3); 
  border-right: 7px solid rgb(72, 101, 206, 0.3); 
  border-top: 5px solid rgb(72, 101, 206, 0.3); 
  border-left: 5px solid rgb(72, 101, 206, 0.3); 
  padding: 2.5rem 2rem 2.5rem 2.5rem;
  color: rgba(255, 255, 255, 0.812);
  gap: 2rem;
}

.study_left-col {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 15rem;
  width: 100%;
  padding-right: 2rem; 
  cursor: pointer;
  border-right: 1px solid #00ffff;
  background-color: rgb(22, 23, 30);
}
.study_left-col button {
  border: 2px solid rgb(72, 101, 206, 0.3);
  color: rgba(255, 255, 255, 0.812);
  font-size: 2rem;
  cursor: pointer;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: rgb(72, 101, 206, 0.3);
  opacity: 0.93;
}

.study_left-col button:hover {
  opacity: 1;
}
.study_right-col {
  display: flex;
  flex-direction: column;
  padding-left: 2rem;
  max-width: 60rem;
  width: 100%;
  font-size: 2rem;
  overflow: auto;
  padding-right: 0.5rem;
}


.study_right-col p, .study_right-col li {
  line-height: 2.9rem;
  letter-spacing: 0.1rem;
}

.study_right-col li {
  margin-bottom: 1rem;
  list-style-type: square;
  list-style-position: inside;
}
.study_right-col span {
  font-weight: bold;
  color: rgb(81, 118, 254);
  opacity: 1;
}

.computer-skills span {
  background-color: #09bc56;
  padding: 0.5rem;
  color: rgb(255, 255, 255);
  margin-right: 0.5rem;
  border-radius: 7px;
  opacity: 0.9;
}
.computer-skills span:hover {
  opacity: 1;
}
#text1 {
  display: inline;
}

#text2,
#text3,
#text4,
#text5, 
#text6 {
  display: none;
}

#green-span {
  color: #00ffff;
}
.mine-description{
  /* border: 3px dashed rgba(255, 255, 255, 0.922); */
  border-radius: 15px;
  max-width: 75rem;
  width: 100%;
  height: 35rem;
  padding: 2.5rem;
  font-size: 1.8rem;
  font-family: 'Open Sans', sans-serif;
}
.mine-description img {
  float: left;
  width: 200px;
  margin-right: 50px;
  padding: 5px;
  margin-left: 7px;
  border: 2px solid rgb(72, 101, 206, 0.3);
}
.mine-description p {
  line-height: 2.9rem;
  letter-spacing: 0.1rem;
  color: #b4b4c5;
}
.mine-description span {
  color: #eaedf4;
  font-weight: 500;
  font-weight: bold;
}

/*******************************************************PORTFOLIO PAGE************************/
.portfolio-page {
  max-width: 170rem;
  margin: 5rem auto;
  background-color: rgb(28, 29, 37);
  padding-top: 10rem;
  padding-bottom: 10rem;
}
.portfolio__links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: -4rem auto 3rem auto;
  background-color: transparent;
  gap: 20rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
  border-bottom: 1px solid gray;
}
.portfolio__links a {
  color: #828387;
  font-size: 2.5rem;
  opacity: 1;
}

.portfolio-gallery.templates {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; /*40 rem*/
  /* border: 0.2rem solid rgb(72, 101, 206, 0.8); */
  width: 130rem;
  margin: 2rem auto 5rem auto;
  justify-content: center;
  justify-items: center;
  padding: 2rem;
  gap: 3.5rem;
  box-sizing: border-box;
}
.portfolio-gallery.personal-projects {
  display: none;
}


#templates-link {
  color:  #00ffff;
  font-weight: bold;
}
#templates-link:hover {
  text-shadow: 1px 1px 15px #00ffff;
}
#personal-projects-link:hover {
  text-shadow: 1px 1px 15px #dddddd;
}

.project-col {
  width: 40rem;
  position: relative;
}
.project-descr-col {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.6rem;
  line-height: 2.9rem;
  letter-spacing: 0.1rem;
  color: #b4b4c5;
  box-sizing: border-box;
  width: 40rem;
  padding-left: 2rem;
  padding-right: 2rem;
}
.project-descr-col a {
  color: #b4b4c5;
}
.project-descr-col h5 {
  font-size: 2.4rem;
  font-weight: bold;
  opacity: 0.8;
}
.project-descr-col h5:hover {
  opacity: 1;
  text-shadow: 1px 1px 15px rgb(83, 81, 81); 
}

.proj1 .box img, 
.proj2 .box img, 
.proj3 .box img,
.proj4 .box img {
  width: 40rem;
  height: 30rem;
}

.proj {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 40rem;
  z-index:1;
  /* background-color: rgb(22, 23, 30); */
  border: 1px solid gray;
  padding-bottom: 2rem;
  box-sizing: border-box;
  background-color: rgba(128, 128, 128, 0.1);
}
.proj img{
  z-index: 2;
  object-fit: cover;
}



/**********************ARROWS***********************/
.proj .left-arrow, 
.proj .right-arrow {
  position: absolute;
  z-index: 3;
  bottom: -2.5rem;
  color: #000000;
  font-weight: bold;
  font-size: 1.3rem;
  padding: 12px 17px;
  border: none;
  cursor: pointer;
  opacity: 0.9;
  border-radius: 50%;
  background-color:#f8f8f888;
  border: 0.1px solid rgba(225, 225, 225, 0.726);
  transition: 0.6s ease;
}
.right-arrow {
  /* right: 0.5rem; */
  right: -1.7rem;
}
.left-arrow {
  left: -1.7rem;
}
.proj1 .left-arrow:hover, 
.proj1 .right-arrow:hover {
  opacity: 1;
}




/************************************************BLOG******************************************/
.blog-page {
  max-width: 170rem;
  margin: 5rem auto;
  background-color: rgb(28, 29, 37);
  padding-top: 10rem;
  padding-bottom: 10rem;
}
.blog-section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  /* background-color: rgb(72, 101, 206, 0.3);
  border: 0.2rem solid rgb(72, 101, 206, 0.3); */
  gap: 3rem;
  margin-bottom: 5rem;
}
.post-box img {
  width: 100%;
  height: 25rem;
  margin-bottom: 2rem;
}
.post-box .date {
  margin-bottom: 1rem;
}
.title {
  color: var(--super-white);
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
 
}
.post-box p{
  color: #828387;
  font-size: 2rem;
  line-height: 2.9rem;
  letter-spacing: 0.1rem;
}

.read-more {
  color: rgb(81, 118, 254);
  opacity: 1;
  float: right;
  margin-top: 2rem;
}

/******************************CONTACT****************/
.contact-page {
  max-width: 170rem;
  margin: 5rem auto;
  background-color: rgb(28, 29, 37);
  padding-top: 10rem;
  padding-bottom: 10rem;
}

/******************************BOTTOM****************/
.bottom-section {
  max-width: 170rem;
  margin: 2rem auto 0 auto;
  background-color: rgb(22, 23, 30);
  padding-bottom: 5rem;
}
.bottom-section p {
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
}

