html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

                            /*Coding*/
.banner {
    background: url(../img/main1.png) left bottom;
    background-position: cover;
    height: 1000px;
}
.container {
    width: 1200px;
    margin: 0 auto;
}
.navbar {
    display: flex;
    justify-content: space-between;
    font-family: Montserrat, sans-serif;
    color: white;
    padding-top: 29px;
    padding-bottom: 12px;
    margin-bottom: 94px;
}
.logo {
    font-size: 30px;
    font-weight: bold;
}
nav {
    display: flex;
    margin-top: 11px;
}

nav li {
    display: inline-block;
    margin-right: 57px;
}
nav li:last-child {
    margin-right: 52px;
}
nav a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-size: 14px;
}
#active_link {
    border-bottom: 3px solid #fce38a;
    color: #fce38a;
    padding-bottom: 12px;
}
.icon:hover {
    cursor: pointer;
}
.shopping_cart {
    margin-right: 42px;
    height: 15px;
}
.magnifying_glass {
    height: 18px;
}

                /*HEADER*/
h1 {
    font-family: Montserrat, sans-serif;
    font-weight: bold;
    font-size: 150px;
    text-transform: uppercase;
    line-height: 0.9;
}
h2 {
    font-family: 'Kaushan Script', sans-serif;
    font-style: cursive;
    font-size: 72px;
    margin-bottom: 63px;
}
h4 {
    font-family: 'Kaushan Script', sans-serif;
    font-size: 24px;
    padding-bottom: 24px;
}
h3 {
    font-family: Montserrat, sans-serif;
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
}
h3::after {
    content:'';
    display:block;
    width: 60px;
    height: 3px;
    background-color: #f38181;
    margin-top: 42px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 48px;
}
h5 {
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 20px;
}
h6 {
    font-size: 15px;
    color: rgb(153, 153, 153);
    line-height: 1.6;
    font-family: Roboto, sans-serif;
}
.header {
    color: white;
    width: 850px;
    margin: 0 auto;
}
.text_center {
    text-align: center;
}
.header:after {
    content:'';
    display:block;
    width: 60px;
    height: 3px;
    background-color: white;
    margin: 74px auto 50px auto;
}
.nav_button {
    border: 3px solid white;
    margin-bottom: 157px;
    margin-right: auto;
    margin-left: auto;
    width: 160px;
}
.nav_button p {
    color: white;
    text-transform: uppercase;
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    padding: 12px 0px;
}
.bottom_banner {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
}

.bottom_banner div::before {
    display: block;
    content: '';
    background-color: #f7ebc5;
    height: 3px;
    width: 280px;
}
.bottom_banner div {
    width: 280px;
    display: flex;
    flex-direction: column;
}
.bottom_banner p, .bottom_banner span {
    color: white;
    font-family: Montserrat, sans-serif;
}
.bottom_banner span {
    font-weight: bold;
    font-size: 24px;
    padding-right: 5px;
}
.bottom_banner p {
    font-weight: normal;
    font-size: 18px;
    text-transform: uppercase;
    padding-top: 25px;
}

.bottom_banner div:first-child::before {
    display: none;
}
.block_of_lines span {
    display: inline-block;

}
#red_line {
    display: block;
    content: '';
    background-color: red;
    height: 3px;
    width: 70px; 
}
#white_line{
    display: block;
    content: '';
    background-color: white;
    height: 3px;
    width: 210px;
    margin-top: -3px;
    margin-left: 70px;
}

            /*SECOND PAGE*/
.second_page, .third_page {
    background-color:#ffffff;
    padding-top: 93px;
}
.second_page h6 {
    width: 954px;
    margin: 0 auto;
    padding-bottom: 92px;
    text-align: center;
}
.photo_row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 110px;
}
.photo_1, .photo_2, .photo_3 {
    width: 380px;
}
.photo_1 {
    position: relative;
    top: 0;
    left: 0;
}
.pic_back {
    position: relative;
    top: 0;
    left: 0;
}
.pic_top {
    position: absolute;
    bottom: 10px;
    left: -10px;
}
.users {
    position: absolute;
    height: 24px;
    width: 33px;
    left: 173px;
    top: 104px;
}
.photo_1 p {
    position: absolute;
    color: white;
    left: 130px;
    top: 138px;
    font-family: Montserrat, sans-serif;
    font-weight: bold;
}

    /*Statistics line*/
.statistics_banner {
    background-color: #95e1d3;
    height: 271px;
}
.statistics_box {
    display: flex;
    flex-direction: row;
    height: 271px;
    text-transform: uppercase;
}
.box_1, .box_2, .box_3, .box_4, .box_5 {
    display: flex;
    flex: 25%;
    flex-direction: column;
    align-items: center;
    border-left: 1px solid #b5eae0; 
    color: white;
}
.box_5 {
    border-right: 1px solid #b5eae0; 
}
.statistics_number {
    font-family: Montserrat, sans-serif;
    font-weight: bold;
    font-size: 72px;
    padding-top: 89px;
    padding-bottom: 15px;
}
.statistics_topic {
    font-family: Montserrat, sans-serif;
    font-weight: normal;
    font-size: 14px;
}

        /*THIRD PAGE*/
.services_table {
    display: flex;
    flex-direction: column;
}
.services_first_line, .services_second_line {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.services_first_line {
    border-bottom: 1px solid #e5e5e5;
    padding-bottom: 54px;
    padding-top: 19px;
}
.services_second_line {
    padding-top: 48px;
    padding-bottom: 120px;
}
.services_box {
    width: 335px;
}
.services_box img {
    float: left;
    margin-right: 28px;
}
.services_box h6 {
    margin-left: 60px;
} 

    /*PAGE 4*/
.fourth_page {
    height: 815px;
    background: url("../img/fon2.png") no-repeat bottom right / cover;
}
.fourth_page h4 {
    padding-top: 108px;
}
.display_phone {
    margin-top: -48px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    left: 0;
    top: 0;
}
.display {
    position: relative;
    left: 0;
    top: 0;
    height: 580px;
}
.phone {
    position: absolute;
    right: 240px;
    top: 220px;
    height: 435px;
}
                /*FIFTH PAGE*/
.fifth_page {
    padding-top: 64px;
    padding-bottom: 122px;
}
.fifth_page h6 {
    padding-bottom: 94px;
}
.fifth_page_table {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.fifth_page_column_one img {
    width: 570px;
}
.fifth_page_column_two {
    width: 600px;
}
.accordion {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 60px;
    border: 1px solid #e5e5e5;
    background-color: white;
    width: 100%;
    position: relative;
    margin-top: 10px;
    transition: 0.3s ease-in-out;
}
.accordion:first-child{
    margin-top: 0px;
}
.fifth_page_column_two img {
    margin-left: 16px;
    margin-right: 16px;
}
.fifth_page h5  {
    margin-top: 20px;
    text-transform: uppercase;
}
.panel {
    display: none;
    border: 1px solid #e5e5e5;
    height: 180px;
}
.panel_inside {
    width: 553px;
    height: 140px;
    margin: 19px 0 25px 19px;
    overflow: auto;
}
::-webkit-scrollbar {
    width: 5px;
}
::-webkit-scrollbar-track {
    background-color: #f5f5f5;
}
::-webkit-scrollbar-thumb {
    background-color: #95e1d3;
    border-radius: 8px;
}
.panel p {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-style: italic;
    font-size: 15px;
    color: #a6a6a6;
    line-height: 1.6;
    margin-right: 10px;
}
.arrow_up, .arrow_down {
    position: absolute;
    right: 5px;
    top: 50%;
    height: 13px;
    cursor: pointer;
}
.arrow_up {
    display: none;
}
.arrow_down {
    display: block;
}
.accordion.active .arrow_up {
    display: block;
}
.accordion.active .arrow_down {
    display: none;
}

    /*Quote banner*/
.banner_quote {
    background-color: #f8f8f8;
    margin-bottom: 100px;
}
.banner_quote_inner {
    height: 290px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.arrow_left, .arrow_right {
    transform: rotate(90deg);
    position: absolute;
    cursor: pointer;
}
.arrow_left {
    left: 0;
    top: 50%;
}
.arrow_right {
    right: 0;
    top: 50%;
}
.quote_box {
    width: 980px;
    display: flex;
}
.quote_box img {
    float: left;
    padding: 42px;
    border: 3px solid #95e1d3;
    margin-right: 62px;
}
.quote_box quote {
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    font-weight: 300;
    font-size: 23px;
    color: #999999;
    line-height: 1.5;
    width: 770px;
}
.line_signature {
    display: flex;
    flex-direction: row;
    margin-top: 29px;
}
.line_signature #red_line {
    margin-top: 8px;
    margin-right: 10px;
}
.signature {
    font-family: 'Kaushan Script', sans-serif;
    font-size: 24px;
}
