:root {
	--very-light-purple: rgb(215, 193, 255);
	--light-purple: rgba(128, 0, 128, 0.383);
	--purple: purple;
	--very-dark-purple: #800080;
	--active: rgb(227, 172, 243);
    --background-color: rgba(200, 199, 199, 0.7); 
    --border: gray;
    --fon-color: rgb(56, 56, 66);

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: default;
}
html { 
    font-size: 62.5%; /*10px;*/
    background-color: rgba(200, 199, 199, 0.7); 
} 
h1 { font-size: 2.8rem; }   /* 28px */

a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    cursor: pointer;
}
a:active {
	color:#0000EE;
}
.pointer {
    cursor: pointer;
}

body { 
    font-size: 1.8rem;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}
.container {
    max-width: 170rem;
    margin: 0 auto;
    position: relative;
}


/**************************************HEADER***************************/
.header { 
    background-color: white;
}
.top-nav-wrap {
    border-bottom: 0.1rem solid rgb(201, 204, 203);
}
.top-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
}
.top-nav--center, .top-nav--left, .top-nav--right {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 50rem;
}
.top-nav--left {
    width: 20rem
}
.top-nav--right {
    width: 20rem;
}
.top-nav__logo {
    font-size: 5rem;
    padding-top: 2rem;
    padding-bottom: 4rem;
    font-weight: bold;
    font-family: 'Lobster', cursive;
}



.top-nav__search-bar input {
    width: 90rem;
    height: 5rem;
    font-size: 2rem;
    border: 0.2px solid gray;
    padding-left: 1rem;
    display: none;
}

/**********HEADER --- BOTTOM NAVIGATION********/
.bottom-nav {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 50rem;
}
.bottom-nav.dropdown-menu {
    display: flex;
    justify-content: space-between;
    position: relative;
}
.bottom-nav__inner-nav li{
    padding-top: 1rem;
    padding-bottom: 1rem;
}
#dropdown-btn--catalogue {
    position: relative;
}

#dropdown-content {
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: white;
    top: 3rem;
    width: 15rem;
    display: none;
}
#dropdown-content li {
    padding-top: 1rem;
    padding-bottom: 1rem;
    display: block;
}


/*FOOTER*/
.footer {
    background-color: rgb(56, 56, 66);
    /* background-color: rgb(249 250 251); */
    color: white;
}
.footer-top, .footer-bottom {
    width: 100%;
}
.footer-top {
    padding-top: 5rem;
    padding-bottom: 5rem;
    display: flex;
    flex-direction: row;
}
/* .footer-top-wrap {
	
	padding: 40px;
} */
.footer-column {
	height: 400px;
	line-height: 2;
}
.footer-column--left {
	width: 400px;
}
.footer-column--left p:first-child{
	font-family: 'Lobster', cursive;
	font-size: 45px;
	line-height: 1;
}
.footer-logo .flower {
	margin-bottom: -13px;
	margin-left: -15px;
	width: 25px;
}
	
.footer-column--center {
	padding-left: 40px;
	width: 600px;
}

.footer-column--right {
	width: 400px;
	padding-left: 40px;
}
.footer-map {
	margin-top: 25px;
	margin-bottom: -25px;
}
.bold-letters {
	font-weight: 700;
}
.bold-letters span {
	font-weight: normal;
}
.footer-number {
	font-size: 16px;
    color: rgb(209, 209, 255);
    font-weight: bold;
    cursor: pointer;
}
.vk {
	width: 40px;
}
.footer-bottom {
    bottom: 0;
	background-color: #7a3776;
    position: absolute;
}
.footer-bottom p {
	padding-top: 20px;
	padding-bottom: 25px;
	color: #cab3e6;
}
